<aside class="sidebar" [class.open]="isOpen">
  <div class="sidebar-header">
    <span class="brand-name">Studios<span>RyM</span></span>
  </div>

  <nav class="sidebar-nav">


    <!-- Sección de Administración (solo para admins) -->
    <div class="nav-section-title" *ngIf="isSuperAdmin">ADMINISTRACIÓN</div>

           <!-- Separador -->
    <div class="nav-divider"></div>


    <!-- Dashboard -->
    <a *ngIf="isSuperAdmin" routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link" (click)="onClose()">
      <span class="material-icons">dashboard</span> 
      <span class="label">Dashboard</span>
    </a>

    <!-- Clientes -->
    <a *ngIf="isSuperAdmin" routerLink="/admin/clientes" routerLinkActive="active" class="nav-link" (click)="onClose()">
      <span class="material-icons">groups</span>
      <span class="label">Usuarios</span>
    </a>

    <!-- Tarifas -->
    <a *ngIf="isSuperAdmin" routerLink="/admin/tarifas" routerLinkActive="active" class="nav-link" (click)="onClose()">
      <span class="material-icons">payments</span>
      <span class="label">Pagos Y Planes</span>
    </a>

    <a *ngIf="isSuperAdmin" routerLink="/admin/instructores" routerLinkActive="active" class="nav-link" (click)="onClose()">
      <span class="material-icons">people</span>
      <span class="label">Instructores</span>
    </a>

  </nav>

</aside>